@use 'variables';
@use 'mixins';

.modal {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    box-sizing: border-box;
    width: 300px;
    height: 380px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 35px;

    font-family: variables.$font-main;
    font-style: normal;
    color: #747474;
    text-align: center;

    background: #F0F0F0;
    border: 2px solid #949494;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5), 0px 8px 16px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    
    @include mixins.desktop {
        width: 834px;
        height: 275px;
    }

    &__close-icon {
        position: fixed;
        top: 18px;
        right: 16px;
        font-size: 28px;
        color: #747474;
        border: none;
        background-color: transparent;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        padding-bottom: 16px;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-top: 5px;
    }
}